<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:master="http://www.brainspeedtech.com/swarm/master" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation">
  <notation:Diagram xmi:id="_Hk78kEkTEemio6OUT8XNlQ" type="Master" element="_Hk8joEkTEemio6OUT8XNlQ" measurementUnit="Pixel">
    <styles xmi:type="notation:DiagramStyle" xmi:id="_Hk78kUkTEemio6OUT8XNlQ"/>
  </notation:Diagram>
  <master:MasterDesign xmi:id="_Hk8joEkTEemio6OUT8XNlQ" name="gen-log"/>
</xmi:XMI>
